@import url("https://fonts.cdnfonts.com/css/antipasto");

:root {
  --background-body: #1d1d1d;
  --background-content: orangered;
  --alt-content: salmon;
  --text-color: #000000;
  --highlight-color: green;
  --gap-size: 30px;
  --small-gap-size: 10px;
  --font-size: 1.5em;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  pointer-events: auto;
  color: var(--text-color);
  font-family: "Antipasto", sans-serif;
  letter-spacing: 0.15rem;
  font-weight: bold;
}

body {
  max-width: 100vw;
  background: var(--background-body);
  font-size: var(--font-size);
}

/* Top Bar */
.header {
  max-width: 100vw;
  height: 5vh;
  background-color: var(--background-content);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--small-gap-size);
  gap: var(--gap-size);
}

.header input {
  width: 50%;
  border-radius: 50px;
  height: 2.5em;
}

.header a {
  background-color: var(--highlight-color);
  text-align: center;
  padding: var(--small-gap-size);
  border-radius: 15px;
  text-decoration: none;
}

.filters {
  width: 50%;
  margin: 0 25% 0 25%;
  padding: var(--small-gap-size);
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background-content);
  border-radius: 0 0 50px 50px;
}

.filters button {
  padding: 1%;
  border-radius: 50px;
  border: 7px solid var(--text-color);
  background-color: #00000000;
}

.filters button:hover {
  color: var(--background-content);
  background-color: var(--text-color);
}

/* List Page (index) */
#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Change with screen size or add slider */
}

.recipeCard {
  background-color: var(--background-content);
  border-radius: 2em;
  margin: var(--gap-size);
  padding: var(--gap-size);
  text-decoration: none;
}

.recipeCard:hover {
  background-color: var(--alt-content);
}

.recipeCard img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 2em 2em 0 0;
}

/* .selected {
  border: solid 10px green;
} */

/* Viewer Page */
#view {
  display: flex;
  align-items: flex-start;
}

.card {
  background-color: var(--background-content);
  border-radius: 2em;
  margin: var(--gap-size);
  padding: var(--gap-size);
  text-decoration: none;
}

#ingredients {
  width: 30%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#instructions {
  width: 70%;
  min-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#portionButtons {
  display: flex;
  flex-wrap: nowrap;
}

#portionButtons button {
  margin-left: 3%;
  height: 50px;
  width: 50px;
  background-color: var(--background-content);
  border: solid 3px var(--text-color);
}

#portionButtons button:hover {
  background-color: var(--alt-content);
}

/* Create & Edit Page */
.forms {
  height: 78vh;
  background-color: var(--background-content);
  border-radius: 2em;
  padding: var(--gap-size);
  margin: 2%;
}

.forms form {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 4fr 1fr;
  gap: var(--gap-size);
}

.forms textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 1.2em;
}

.textInput {
  width: 300px;
  margin: var(--small-gap-size);
  font-size: 1.2em;
}

#numberInput {
  width: 42px;
  margin: var(--small-gap-size);
  margin-right: 0;
  font-size: 1.2em;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  background-color: var(--highlight-color);
  text-align: center;
  margin: var(--gap-size);
  padding: var(--gap-size);
  border-radius: 50px;
  text-decoration: none;
}

/* Mobile */
/*@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
