@import url("https://fonts.cdnfonts.com/css/antipasto");

:root {
  --background-body: #eaefbd;
  --background-content: #90be6d;
  --alt-content: #ea9010;
  --text-color: #1c3738;
  --highlight-color: #ea9010;
  --gap-size: 30px;
  --small-gap-size: 10px;
  --font-size: 1.5em;
  --small-font-size: 1em;
  --form-font-size: 0.7em;
  --border: solid 5px var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  border: none;
  pointer-events: auto;
  color: var(--text-color);
  font-family: "Antipasto", sans-serif;
  letter-spacing: 0.15rem;
  font-weight: bold;
}

body {
  max-width: 100vw;
  background: var(--background-body);
  font-size: var(--font-size);
}

body::-webkit-scrollbar {
  display: none;
}

button {
  background-color: var(--background-body);
  border: var(--border);
  text-align: center;
}

button:hover {
  background-color: var(--text-color);
  color: var(--background-content);
}

.link {
  background-color: var(--background-body);
  border: var(--border);
  padding: var(--small-gap-size);
  text-align: center;
  text-decoration: none;
  font-size: var(--small-font-size);
}

.link:hover {
  background-color: var(--text-color);
  color: var(--background-content);
}

li {
  margin-left: var(--gap-size);
}

/* Top Bar */
.header {
  max-width: 100vw;
  background-color: var(--background-content);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: none;
  border-bottom: var(--border);
}

.header input {
  width: 50%;
  border: var(--border);
  height: 2.5em;
}

.header a {
  border-bottom: none;
  border-top: none;
  border-left: none;
  height: 100%;
}

.filters {
  width: 50%;
  margin: 0 25% 0 25%;
  padding: var(--small-gap-size);
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background-content);
  border: var(--border);
  border-top: none;
  /* border-radius: 0 0 50px 50px; */
}

.filters button {
  padding: 1%;
  border-radius: 50px;
  border: var(--border);
  background-color: #00000000;
}

.filters button:hover {
  color: var(--background-content);
  background-color: var(--text-color);
}

/* List Page (index) */
#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: var(--gap-size);
  /* align-items: center; */
}

#footer {
  height: var(--gap-size);
}

.recipeCard {
  background-color: var(--background-content);
  /* border-radius: 2em; */
  margin-top: var(--gap-size);
  margin-right: var(--gap-size);
  padding: var(--gap-size);
  text-decoration: none;
  border: var(--border);
}

.recipeCard:hover {
  background-color: var(--alt-content);
}

.recipeCard h3 {
  text-align: center;
  text-decoration: underline;
  display: inline;
  padding-right: var(--small-gap-size);
}

.recipeImage {
  height: 300px;
  width: 100%;
  object-fit: cover;
  /* border-radius: 2em 2em 0 0; */
}

.icon {
  height: 50px;
  width: 50px;
}

/* .selected {
  border: solid 10px green;
} */

/* Viewer Page */
#view {
  display: flex;
  align-items: flex-start;
}

.tallIns {
  border-left: var(--border);
}

.tallIng {
  border-right: var(--border);
}

#ingredients {
  width: 30%;
  padding: var(--gap-size);
  border-bottom: var(--border);
}

#instructions {
  width: 70%;
  padding: var(--gap-size);
  border-bottom: var(--border);
}

#portionButtons {
  display: flex;
  flex-wrap: wrap;
}

#portionButtons button {
  margin-left: 3%;
  height: 50px;
  width: 50px;
  font-size: var(--small-font-size);
}

/* Create & Edit Page */
.forms {
  height: 70vh;
  background-color: var(--background-content);
  padding: var(--gap-size);
  margin: 2%;
  border: var(--border);
}

.forms form {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 4fr 1fr;
  gap: var(--gap-size);
}

.mainTextareas {
  width: 100%;
  height: 90%;
  resize: none;
  font-size: var(--form-font-size);
}

.forms textarea {
  width: 100%;
  resize: none;
  font-size: var(--form-font-size);
  padding-left: var(--small-gap-size);
}

.textInput {
  width: 300px;
  margin: var(--small-gap-size);
  font-size: var(--form-font-size);
  padding-left: var(--small-gap-size);
}

#numberInput {
  width: 42px;
  margin: var(--small-gap-size);
  margin-right: 0;
  font-size: var(--form-font-size);
  padding-left: var(--small-gap-size);
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--small-gap-size);
}

.computerOnlySpace {
  display: none;
}

/* On Screen */
@media (max-width: 800px) {
  #list {
    grid-template-columns: 1fr 1fr;
  }

  .computerOnly {
    display: none;
  }

  .computerOnlySpace {
    display: block;
    height: 55.1px;
  }
}
